﻿@model NF.Web.Models.ViewModels.FormVM
@{
    ViewData["Title"] = "DeleteResult";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h1 style="align-content:center">Are you sure you want to delete this form?</h1>
<br /><br />
      <div class="bottom-three">
          <div class="card text-black mb-5 text-center" style=" background-color: #85adad;width: 20rem; height:14rem;">
              <div class="card-body">
                  <div class="text-center">
                      @{
                          string desc;
                          if (Model.Description.Length < 70)
                          {
                              desc = Model.Description;

                          }
                          else
                          {
                              desc = Model.Description.Substring(0, 70) + "...";
                          }


                          string data = Model.ModifiedOn.ToString().Substring(0, 10);


                      }
                      <h4 class="card-title">@Html.DisplayFor(modelItem => Model.Name)</h4><br>
                      <h6 class="card-text">@desc</h6>

                      <smal class="text-left">Number of times answered: @Html.DisplayFor(modelItem => Model.AnsweredCount)</smal><br />
                      <smal class="text-right">Last modified on: @data</smal><br />

                      @if (User.Identity.IsAuthenticated)
                      {
                          <button onclick="window.location.href= '/Forms/DeleteResult/@Model.Id'" class="button-link" style="background-color: indianred; border: 1px red;"> Delete </button>
                         
                      }
                  </div>
              </div>
          </div>
      </div>
